{% extends 'dashboard/frame.html' %}

{% block main_content %}
    <h1>Suite List</h1>
    <form method="POST" class="post-form">{% csrf_token %}
         <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Create Time</th>
                  <th>Email To</th>
                  <th>Case Num</th>
                </tr>
              </thead>
              <tbody>
              {% load model_tags %}
              {% for suite in suites %}
                <tr>
                  <td>{{ suite.pk }}</td>
                  <td>{{ suite.name }}</td>
                  <td>{{ suite.description }} </td>
                  <td>{{ suite.create_time }} </td>
                  <td>{{ suite.emails }} </td>
                  <td>{% case_count_in_suite suite %}</td>
                </tr>
              {% endfor %}
             </tbody>
            </table>
         </div>
    </form>
{% endblock %}